main img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ofertaDestino {
    margin: 1%;
    border-style: solid;
    border-radius: 2%;
    padding: 1%;
    display: flex;
    flex: row;

}

main div section div div p {
    margin: 20px;
}

.importe {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 250px;
    padding: 10px;
    background-color: #291702;
    color: bisque;
    font-size: medium;
    border-radius: 10px;
    opacity: 80%;
    display: flex;
    flex-direction: column;
}

#boton {
    background-color: #291702;
    color: antiquewhite;
    margin: 5%;
}

.barraBusqueda__input {
    width:500px;
}

.barraBusqueda {
    display: flex;
    margin: 5%
}

.cart {
    width: 100%;
    background-color: whitesmoke;
    color: rgb(47, 27, 3);
    font-size: smaller;
    border-radius: 10px;
    border-style: solid;
    border-color: #291702;
    opacity: 80%;  
}

.ofertasCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h4 {
    font-size: 20px;
}
.agregados {
    font-size: 15px;
}

.formulario {
    padding: 30px;
}
.textoImpuesto {
    font-size: smaller;
}

#cerrarImporte {
    position: relative;
    top: 85%;
    left: 10%;
}

#js-carrito{
    margin-right: 2%;
    width: 25%;
    display: none;
}

.productoMasBoton {
    display:flex;
    flex-direction: row;
    font-size: 12px;
    height: min-content;
}

.botonEliminar {
    height:min-content;
}
.productoCarrito {
margin-top: 0%;
margin-bottom: 0%;
margin-right: 6%;
}

.js-valorTotal {
    margin-top: 3%;
    font-weight: 600;
}

.volverArriba {
    margin: 2%;
}
