@charset "UTF-8";
/*Reseteo de CSS*/
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  color: #352D39;
}

/*Estilo de body*/
body {
  background-color: #A0673C;
}

main {
  background-color: #DEE8D5;
  background-image: linear-gradient(315deg, #544233 0%, #DEE8D5 85%);
}

footer {
  background-color: #A0673C;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/*Centrar Texto*/
.centrarTexto {
  text-align: center;
}

/*Alinear a la derecha*/
.alinearDerecha {
  text-align: right;
  margin-right: 2%;
}

/*Alinear a la izquierda*/
.alinearIzquierda {
  text-align: left;
}

/*Estilo fuente*/
.cursiva {
  font-style: italic;
}

/*Alineación H1 centrado*/
h1 {
  text-align: center;
  /*padding-top: 30px;
    padding-bottom: 30px;
    font-size: $tamanioTitulos;*/
  font-size: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Tamaño H2*/
h2 {
  text-align: center;
  font-size: 64px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: 500;
}

h4 {
  font-size: 21.6px;
  text-decoration: none;
  margin-bottom: 15px;
  margin-right: 30px;
  text-align: right;
  font-weight: 400;
}

/*Tamaño fuente footer*/
footer {
  font-size: small;
}

/*font family*/
* {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
}

.estiloUshuaia {
  margin: 15px;
}

.estiloCalafate {
  margin: 15px;
  padding-bottom: 30px;
}

.estiloTalampaya {
  margin: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*Header*/
.grid-header {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "pestaniaMenu redes" "logo logo";
  /*Iconos redes sociales*/
}

.grid-header .logo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo;
}

.grid-header .redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  margin-right: 5px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: redes;
}

.grid-header nav {
  grid-area: menu;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: absolute;
}

.logoRedes {
  width: 25px;
  height: 25px;
  border-radius: 30%;
  padding: 1px;
}

/*Menu Escritorio*/
.estiloMenu {
  color: #DEE8D5;
  display: none;
}

ul li a {
  color: #DEE8D5;
  text-decoration: none;
}

ul li {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-right: solid 1px;
}

.estiloMenuFooter .estiloMenu {
  color: #DEE8D5;
  display: none;
}

/*Menu Mobile*/
.menuResponsive {
  /*clase para menu en cel*/
  color: #DEE8D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pestaniaMenu;
}

header section ul ul {
  /*esconder menu original en cel*/
  position: absolute;
  display: none;
  background-color: #A0673C;
}

header section ul ul li {
  display: block;
  border-left: solid 1px;
  border-bottom: solid 1px;
}

header section ul:hover ul {
  /*mostrar menu original en cel en columna*/
  display: block;
}

header section ul ul li a {
  color: #DEE8D5;
  text-decoration: none;
}

header section ul ul li {
  padding: 10px 10px 10px 10px;
  border-right: solid 1px;
}

.menuResponsiveFooter {
  color: #DEE8D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
}

footer section ul ul {
  /*esconder menu original en cel*/
  position: absolute;
  display: none;
  background-color: #A0673C;
}

footer section ul ul li {
  display: block;
  border-left: solid 1px;
  border-bottom: solid 1px;
}

footer section ul:hover ul {
  /*mostrar menu original en cel en columna*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -100%;
}

footer section ul ul li a {
  color: #DEE8D5;
  text-decoration: none;
}

footer section ul ul li {
  padding: 10px 10px 10px 10px;
}

.copyright {
  position: static;
}

/*En este documento se desarrollarán los estilos del mapa que contiene el index*/
.mapa figure {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mapa figure img {
  width: 100%;
  height: 100%;
}

.mapa figure .mapa__sudamerica {
  position: absolute;
  top: 46%;
  left: 22%;
  width: 17%;
  cursor: pointer;
}

.mapa figure .mapa__sudamerica:hover img {
  visibility: visible;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  -webkit-animation-name: continente;
          animation-name: continente;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mapa figure .mapa__europa {
  position: absolute;
  top: 8.9%;
  left: 43%;
  width: 24.5%;
  cursor: pointer;
}

.mapa figure .mapa__europa img {
  visibility: hidden;
}

.mapa figure .mapa__europa:hover img {
  visibility: visible;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  -webkit-animation-name: continente;
          animation-name: continente;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mapa figure .mapa__asia {
  position: absolute;
  top: 14%;
  left: 58%;
  width: 29%;
  cursor: pointer;
}

.mapa figure .mapa__asia img {
  visibility: hidden;
}

.mapa figure .mapa__asia:hover img {
  visibility: visible;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  -webkit-animation-name: continente;
          animation-name: continente;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes continente {
  0% {
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes continente {
  0% {
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

.rutaCarrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rutaCarrousel .carrouselImagenes {
  margin-right: 2%;
  padding-bottom: 5px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rutaCarrousel .carrouselImagenes .textoCarrousel {
  font-size: 9.6px;
  text-align: justify;
  margin: 15px;
  padding-bottom: 20%;
}

section div div img {
  border-radius: 3%;
}

#quitarBorde {
  border-right: none;
}

@media (min-width: 769px) {
  .rutaCarrousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .rutaCarrousel .carrouselImagenes {
    margin-right: 2%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rutaCarrousel .textoCarrousel {
    font-size: 16px;
    text-align: justify;
    margin: 15px;
    width: 50%;
    padding-top: 10%;
  }
}

/*Estilo Tabla Itinerario*/
.estiloTabla {
  background-image: url("../imagenes/DSC_0187.JPG");
  background-size: cover;
  font-size: smaller;
  color: bisque;
}

.estiloParrafo {
  margin-left: 2%;
  color: #291702;
}

table tr th {
  /*estilo celdas encabezado*/
  padding: 15px;
  border: solid 1px;
}

table tr td {
  /*estilo celdas cuerpo*/
  padding: 15px;
  border: hidden 1px;
}

.letraOscura {
  color: beige;
}

#encabezadoTabla {
  background-color: #352D39;
  font-weight: bolder;
  font-size: large;
  color: #D5C7BC;
  text-transform: uppercase;
}

.bolivia {
  -webkit-animation-name: boliviaCaida;
          animation-name: boliviaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes boliviaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes boliviaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.colombia {
  -webkit-animation-name: colombiaCaida;
          animation-name: colombiaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes colombiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes colombiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.myanmar {
  -webkit-animation-name: myanmarCaida;
          animation-name: myanmarCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes myanmarCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes myanmarCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.vietnam {
  -webkit-animation-name: vietnamCaida;
          animation-name: vietnamCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes vietnamCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes vietnamCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.laos {
  -webkit-animation-name: laosCaida;
          animation-name: laosCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes laosaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes laosaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.tailandia {
  -webkit-animation-name: tailandiaCaida;
          animation-name: tailandiaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

@-webkit-keyframes tailandiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes tailandiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.rusia {
  -webkit-animation-name: rusiaCaida;
          animation-name: rusiaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

@-webkit-keyframes rusiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes rusiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.india {
  -webkit-animation-name: rusiaCaida;
          animation-name: rusiaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

@keyframes rusiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.maldivas {
  -webkit-animation-name: maldivasCaida;
          animation-name: maldivasCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes maldivasCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes maldivasCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.finlandia {
  -webkit-animation-name: finlandiaCaida;
          animation-name: finlandiaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

@-webkit-keyframes finlandiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes finlandiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.estonia {
  -webkit-animation-name: estoniaCaida;
          animation-name: estoniaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

@-webkit-keyframes estoniaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes estoniaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.canada {
  -webkit-animation-name: canadaCaida;
          animation-name: canadaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

@-webkit-keyframes canadaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes canadaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.alemania {
  -webkit-animation-name: alemaniaCaida;
          animation-name: alemaniaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

@-webkit-keyframes alemaniaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes alemaniaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.italia {
  -webkit-animation-name: italiaCaida;
          animation-name: italiaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes italiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes italiaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.espania {
  -webkit-animation-name: espaniaCaida;
          animation-name: espaniaCaida;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

@-webkit-keyframes espaniaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

@keyframes espaniaCaida {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
  }
}

.sacarEnMobile {
  display: none;
}

@media (min-width: 769px) {
  .estiloTabla {
    margin-left: 15%;
  }
  .sacarEnMobile {
    display: block;
  }
}

/*Quien Soy*/
/*Foto*/
.quienSoy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}

.quienSoy .quienSoy__img {
  width: 80%;
  margin: 2%;
}

.quienSoy .quienSoy__txt {
  margin: 2%;
  padding: 2%;
  width: 80%;
  text-align: justify;
}

@media (min-width: 769px) {
  .quienSoy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (min-width: 769px) {
  .menuResponsive {
    display: none;
  }
  .grid-header {
        grid-template-areas: "logo . redes" "logo . ." "logo menu .";
  }
  .logoRedes {
    width: 35px;
    height: 35px;
    -webkit-transition: height 1s width 1s;
    transition: height 1s width 1s;
  }
  .logoRedes:hover {
    height: 50px;
    width: 50px;
    -webkit-filter: opacity(70%);
            filter: opacity(70%);
  }
  .estiloMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contenedorCarrousel {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorCarrousel .carouselContinente {
  width: 250px;
  height: 375px;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.contenedorCarrousel .carouselContinente .carouselContinente__contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(-250px) rotateY(0);
          transform: translateZ(-250px) rotateY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: carousel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
          animation: carousel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
}

.contenedorCarrousel .carouselContinente .carouselContinente__contenedor div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #00000040);
}

.contenedorCarrousel .carouselContinente .carouselContinente__contenedor div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.carouselContinente__contenedor div:nth-child(1) {
  -webkit-transform: rotateY(0) translateZ(250px);
          transform: rotateY(0) translateZ(250px);
}

.carouselContinente__contenedor div:nth-child(2) {
  -webkit-transform: rotateY(60deg) translateZ(250px);
          transform: rotateY(60deg) translateZ(250px);
}

.carouselContinente__contenedor div:nth-child(3) {
  -webkit-transform: rotateY(120deg) translateZ(250px);
          transform: rotateY(120deg) translateZ(250px);
}

.carouselContinente__contenedor div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(250px);
          transform: rotateY(180deg) translateZ(250px);
}

.carouselContinente__contenedor div:nth-child(5) {
  -webkit-transform: rotateY(240deg) translateZ(250px);
          transform: rotateY(240deg) translateZ(250px);
}

.carouselContinente__contenedor div:nth-child(6) {
  -webkit-transform: rotateY(300deg) translateZ(250px);
          transform: rotateY(300deg) translateZ(250px);
}

/*Animación carousel*/
@-webkit-keyframes carousel {
  0%,
  8.3% {
    -webkit-transform: translateZ(-300px) rotateY(0);
            transform: translateZ(-300px) rotateY(0);
  }
  16.6%,
  24.9% {
    -webkit-transform: translateZ(-300px) rotateY(-60deg);
            transform: translateZ(-300px) rotateY(-60deg);
  }
  33.2%,
  41.5% {
    -webkit-transform: translateZ(-300px) rotateY(-120deg);
            transform: translateZ(-300px) rotateY(-120deg);
  }
  49.8%,
  58.1% {
    -webkit-transform: translateZ(-300px) rotateY(-180deg);
            transform: translateZ(-300px) rotateY(-180deg);
  }
  66.4%,
  74.7% {
    -webkit-transform: translateZ(-300px) rotateY(-240deg);
            transform: translateZ(-300px) rotateY(-240deg);
  }
  83%
91.3% {
    -webkit-transform: translateZ(-300px) rotateY(-300deg);
            transform: translateZ(-300px) rotateY(-300deg);
  }
  100% {
    -webkit-transform: translateZ(-300px) rotateY(-360deg);
            transform: translateZ(-300px) rotateY(-360deg);
  }
}
@keyframes carousel {
  0%,
  8.3% {
    -webkit-transform: translateZ(-300px) rotateY(0);
            transform: translateZ(-300px) rotateY(0);
  }
  16.6%,
  24.9% {
    -webkit-transform: translateZ(-300px) rotateY(-60deg);
            transform: translateZ(-300px) rotateY(-60deg);
  }
  33.2%,
  41.5% {
    -webkit-transform: translateZ(-300px) rotateY(-120deg);
            transform: translateZ(-300px) rotateY(-120deg);
  }
  49.8%,
  58.1% {
    -webkit-transform: translateZ(-300px) rotateY(-180deg);
            transform: translateZ(-300px) rotateY(-180deg);
  }
  66.4%,
  74.7% {
    -webkit-transform: translateZ(-300px) rotateY(-240deg);
            transform: translateZ(-300px) rotateY(-240deg);
  }
  83%
91.3% {
    -webkit-transform: translateZ(-300px) rotateY(-300deg);
            transform: translateZ(-300px) rotateY(-300deg);
  }
  100% {
    -webkit-transform: translateZ(-300px) rotateY(-360deg);
            transform: translateZ(-300px) rotateY(-360deg);
  }
}

@media (min-width: 769px) {
  .contenedorCarrousel {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedorCarrousel .carouselContinente {
    width: 500px;
    height: 750x;
    -webkit-perspective: 800px;
            perspective: 800px;
  }
  .contenedorCarrousel .carouselContinente .carouselContinente__contenedor {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(-500px) rotateY(0);
            transform: translateZ(-500px) rotateY(0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: carousel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
            animation: carousel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
  }
  .contenedorCarrousel .carouselContinente .carouselContinente__contenedor div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #00000040);
  }
  .contenedorCarrousel .carouselContinente .carouselContinente__contenedor div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }
}

.carouselContinente__contenedor div:nth-child(1) {
  -webkit-transform: rotateY(0) translateZ(500px);
          transform: rotateY(0) translateZ(500px);
}

.carouselContinente__contenedor div:nth-child(2) {
  -webkit-transform: rotateY(60deg) translateZ(500px);
          transform: rotateY(60deg) translateZ(500px);
}

.carouselContinente__contenedor div:nth-child(3) {
  -webkit-transform: rotateY(120deg) translateZ(500px);
          transform: rotateY(120deg) translateZ(500px);
}

.carouselContinente__contenedor div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(500px);
          transform: rotateY(180deg) translateZ(500px);
}

.carouselContinente__contenedor div:nth-child(5) {
  -webkit-transform: rotateY(240deg) translateZ(500px);
          transform: rotateY(240deg) translateZ(500px);
}

.carouselContinente__contenedor div:nth-child(6) {
  -webkit-transform: rotateY(300deg) translateZ(500px);
          transform: rotateY(300deg) translateZ(500px);
}

/*Animación carousel*/
@keyframes carousel {
  0%,
  8.3% {
    -webkit-transform: translateZ(-500px) rotateY(0);
            transform: translateZ(-500px) rotateY(0);
  }
  16.6%,
  24.9% {
    -webkit-transform: translateZ(-500px) rotateY(-60deg);
            transform: translateZ(-500px) rotateY(-60deg);
  }
  33.2%,
  41.5% {
    -webkit-transform: translateZ(-500px) rotateY(-120deg);
            transform: translateZ(-500px) rotateY(-120deg);
  }
  49.8%,
  58.1% {
    -webkit-transform: translateZ(-500px) rotateY(-180deg);
            transform: translateZ(-500px) rotateY(-180deg);
  }
  66.4%,
  74.7% {
    -webkit-transform: translateZ(-500px) rotateY(-240deg);
            transform: translateZ(-500px) rotateY(-240deg);
  }
  83%
91.3% {
    -webkit-transform: translateZ(-500px) rotateY(-300deg);
            transform: translateZ(-500px) rotateY(-300deg);
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(-360deg);
            transform: translateZ(-500px) rotateY(-360deg);
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding-top: 20%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  background-color: #352D39;
  background-size: cover;
  margin: 10%;
  border-radius: 10%;
}

.botonSuscripcion {
  margin: 1%;
}

@media (min-width: 769px) {
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    background-color: #352D39;
    background-size: cover;
    margin: 50px;
    border-radius: 10%;
  }
}
/*# sourceMappingURL=origen.css.map */